header{
    background-color: #a0afe5;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    text-align: left;
    font-size: 2rem;    
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(29, 25, 25);    
}

.pages {
    display: flex;
    flex-direction: row;
    
}

.pag {
    font-size: 1.2rem;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    border: 1px solid #384b61;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: azure;
}

#menu {
    display: none;
    background-color: transparent;
    border: none;
}


.perfil {
    display:flex;
    margin: 10px 30px;
    background-color:white;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    justify-content: space-around;
}

.perfil img{
    display: flex;
    width: 25%;
    min-width: 300px;
    border-radius: 960px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-left: 40px;
}

.item::after {
    content: "";
    clear: both;
    display: flex;
}

.item:hover {
    transform: scale(1.2);
}

.descricao {
    display: flex;
    margin: 0px auto;
    max-width: 700px;
    padding-right: 5px;
    line-height: 1.1;
    flex-wrap: wrap;
    position: relative;
}
 
.perfil img::after {
    content: "";
    position: absolute;
    transform: scale(0);
}

.perfil img:hover {
    transform: scale(1);
    border: 6px groove #e4620b;
}

.descricao h2 {
    font-size: 1.5rem;
    padding-bottom: 8px;
} 

main {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;    
    font-family:'Courier New', Courier, monospace;
    margin: 20px 10px;
}

.bloco1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-end;
}

#direita {
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #a0afe5;
    margin: 4px;
    justify-content: center;
    border: 1px solid black;
}

.subis2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.bloco2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-start;
}

#esquerda {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


footer {
    background-color: #a0afe5;
	width:100%;
    display: flex;
    flex-wrap: wrap;
    position: static;
    margin: 0 auto;

}
#redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer img {
    width: 40px;
    padding: 0 15px;
    margin: 0 auto;
}

footer button {
    display: flex;
    justify-content: flex-end;
    background-color: #d89bd3;
    border-radius: 20px;
    align-items: center;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


@media only screen and (max-width:600px) {

    #menu {
        display: block;
        background-color: transparent;
    }

    .pag {
        display:none;
    }

    .bloco1, .bloco2, .item {
        align-items: center;
        flex-wrap: wrap;
    }

    #redes {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

}
